<html ng-app="root">
	<head>
		<title>Gulp Test</title>

		<!-- Import Angular -->
		<script src="node_modules/angular/angular.min.js"></script>
  		<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>-->

		<!-- Import JQuery -->
		<script src="node_modules/jquery/dist/jquery.min.js"></script>
  		<script src="http://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>

		<!-- Import Local script -->
		<script type="text/javascript" src="inverted-index.js"></script>
  		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="./src/scripts/script.js"></script>

  		 <!--Import Google Fonts-->
  		<link href="https://fonts.googleapis.com/css?family=Tangerine|Romanesco&effect=3d-float|Timmana&effect=3d-float|Stalemate&effect=3d-float|Yesteryear&effect=3d-float|Caudex&effect=3d-float" rel="stylesheet" type="text/css">
		
		 <!--Import Local CSS file-->
  		<link rel="stylesheet" type="text/css" href="./src/styles/style.css">
		

  		 <!--Import Bootstrap -->
  		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
		

	</head>
	<body>

		<div id="content">

			<div id="header_div">
				<h1 id="header_text" class="font-effect-3d-float">Inverted Index</h1>
			</div>

			<div ng-controller="rootAppController">

				<!-- Display the file index and create index options-->
				<div id="display_file">

					<div id="display_table_div">
						<table id="index_table" class="table table-striped table-hover ">
							<thead> 
								<tr>
									<th>Term </th><th ng-repeat="column in columns">{{column}}</th>
								</tr>
							</thead>
							<tbody id="word_index_body" style="width: 800px;">
								<tr id="word_index_row" ng-repeat="word in uniqueWords">
									<td style="text-align: center;"> {{word}} </td><td ng-repeat="item in columns" style="text-align: center;">x</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- Create new index panel-->
					<div id="select_file_div">
						<div class="form-group">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title"><label class="control-label"><p class="font-effect-3d-float" style="font-size: 25px;" >Create New Index</p></label><br></h3>
								</div>
								<div class="panel-body">
									
									<input type="file" id="filePath"><br>
									<div class="input-group">
										<span class="input-group-addon">File Name:</span>
											<input type="input" id="filename" placeholder="Enter Filename" class="form-control">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" ng-click="getTheBook()">Create Index</button>
										</span>
									</div>
								</div>
							</div>	
						</div>
					</div>

				</div>

				<!-- Display contents of the file-->
				<div id="file_content_div">
					<h2>Content</h2>
					<div class="jumbotron">
						<div style="position: relative; margin: 10px;">
							<h2>Story</h2>
							<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
								This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
								This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
								
							</p>
							<p><a class="btn btn-primary btn-lg">Next</a></p>
						</div>
					</div>
				</div>

			</div>

		</div>

	</body>
</html>